* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-container {
  padding: 5px;
}

#header h1 {
  text-align: center;
}

#header {
  margin-bottom: 25px;
}

pre {
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  background: #f5f2f0;
}

.about-text {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.outblock {
  padding: 5px;
}